<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzgaming.dao.mysql.MatchInfoMapper">

	<resultMap id="BaseResultMap" type="com.yzgaming.model.MatchInfo">
			<id property="id" column="id" jdbcType="INTEGER"/>
			<result property="matchName" column="match_name" jdbcType="VARCHAR"/>
			<result property="matchTitle" column="match_title" jdbcType="VARCHAR"/>
			<result property="signFee" column="sign_fee" jdbcType="INTEGER"/>
			<result property="bonusAmount" column="bonus_amount" jdbcType="INTEGER"/>
			<result property="matchStartTime" column="match_start_time" jdbcType="TIMESTAMP"/>
			<result property="matchEndTime" column="match_end_time" jdbcType="TIMESTAMP"/>
			<result property="endState" column="end_state" jdbcType="TINYINT"/>
			<result property="matchRuleText" column="match_rule_text" jdbcType="VARCHAR"/>
			<result property="matchRewardText" column="match_reward_text" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id,match_name,match_title,sign_fee,bonus_amount,match_start_time,match_end_time,end_state,match_rule_text,match_reward_text
	</sql>
	
	<select id="getById" parameterType="int" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from
			yz_match_info
		where
			id = #{id}
	</select>
	
	<select id="countBy" resultType="int">
		select count(*)
		from yz_match_info
		where 1=1
		  <if test="_bean != null and _bean.id != null">
			and id = #{ _bean.id, jdbcType=INTEGER }
		  </if>
		  <if test="_bean != null and _bean.matchName != null">
			and match_name = #{ _bean.matchName, jdbcType=VARCHAR }
		  </if>
		  <if test="_bean != null and _bean.matchTitle != null">
			and match_title = #{ _bean.matchTitle, jdbcType=VARCHAR }
		  </if>
		  <if test="_bean != null and _bean.signFee != null">
			and sign_fee = #{ _bean.signFee, jdbcType=INTEGER }
		  </if>
		  <if test="_bean != null and _bean.bonusAmount != null">
			and bonus_amount = #{ _bean.bonusAmount, jdbcType=INTEGER }
		  </if>
		  <if test="_bean != null and _bean.matchStartTime != null">
			and match_start_time = #{ _bean.matchStartTime, jdbcType=TIMESTAMP }
		  </if>
		  <if test="_bean != null and _bean.matchEndTime != null">
			and match_end_time = #{ _bean.matchEndTime, jdbcType=TIMESTAMP }
		  </if>
		  <if test="_bean != null and _bean.endState != null">
			and end_state = #{ _bean.endState, jdbcType=TINYINT }
		  </if>
		  <if test="_bean != null and _bean.matchRuleText != null">
			and match_rule_text = #{ _bean.matchRuleText, jdbcType=VARCHAR }
		  </if>
		  <if test="_bean != null and _bean.matchRewardText != null">
			and match_reward_text = #{ _bean.matchRewardText, jdbcType=VARCHAR }
		  </if>
	</select>
	
	<select id="listPage" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from yz_match_info
		where 1=1
			<if test="_bean != null and _bean.id != null">
			  and id = #{ _bean.id, jdbcType=INTEGER }
			</if>
			<if test="_bean != null and _bean.matchName != null">
			  and match_name = #{ _bean.matchName, jdbcType=VARCHAR }
			</if>
			<if test="_bean != null and _bean.matchTitle != null">
			  and match_title = #{ _bean.matchTitle, jdbcType=VARCHAR }
			</if>
			<if test="_bean != null and _bean.signFee != null">
			  and sign_fee = #{ _bean.signFee, jdbcType=INTEGER }
			</if>
			<if test="_bean != null and _bean.bonusAmount != null">
			  and bonus_amount = #{ _bean.bonusAmount, jdbcType=INTEGER }
			</if>
			<if test="_bean != null and _bean.matchStartTime != null">
			  and match_start_time = #{ _bean.matchStartTime, jdbcType=TIMESTAMP }
			</if>
			<if test="_bean != null and _bean.matchEndTime != null">
			  and match_end_time = #{ _bean.matchEndTime, jdbcType=TIMESTAMP }
			</if>
			<if test="_bean != null and _bean.endState != null">
			  and end_state = #{ _bean.endState, jdbcType=TINYINT }
			</if>
			<if test="_bean != null and _bean.matchRuleText != null">
			  and match_rule_text = #{ _bean.matchRuleText, jdbcType=VARCHAR }
			</if>
			<if test="_bean != null and _bean.matchRewardText != null">
			  and match_reward_text = #{ _bean.matchRewardText, jdbcType=VARCHAR }
			</if>
		<if test="_orderby != null">
			order by ${_orderby} ${_orderdir}
		</if>
		<if test="_start != null and _pageSize != null">
			limit ${_start}, ${_pageSize}
		</if>
	</select>
	
	<update id="update" parameterType="com.yzgaming.model.MatchInfo">
		update yz_match_info
		<set>
			<if test="matchName != null">
			  match_name = #{matchName, jdbcType=VARCHAR },
			</if>
			<if test="matchTitle != null">
			  match_title = #{matchTitle, jdbcType=VARCHAR },
			</if>
			<if test="signFee != null">
			  sign_fee = #{signFee, jdbcType=INTEGER },
			</if>
			<if test="bonusAmount != null">
			  bonus_amount = #{bonusAmount, jdbcType=INTEGER },
			</if>
			<if test="matchStartTime != null">
			  match_start_time = #{matchStartTime, jdbcType=TIMESTAMP },
			</if>
			<if test="matchEndTime != null">
			  match_end_time = #{matchEndTime, jdbcType=TIMESTAMP },
			</if>
			<if test="endState != null">
			  end_state = #{endState, jdbcType=TINYINT },
			</if>
			<if test="matchRuleText != null">
			  match_rule_text = #{matchRuleText, jdbcType=VARCHAR },
			</if>
			<if test="matchRewardText != null">
			  match_reward_text = #{matchRewardText, jdbcType=VARCHAR },
			</if>
		</set>
		where
			id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="int">
		delete from yz_match_info 
		where
			id = #{id}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.yzgaming.model.MatchInfo">
		insert into yz_match_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="matchName != null">
				match_name,
			</if>
			<if test="matchTitle != null">
				match_title,
			</if>
			<if test="signFee != null">
				sign_fee,
			</if>
			<if test="bonusAmount != null">
				bonus_amount,
			</if>
			<if test="matchStartTime != null">
				match_start_time,
			</if>
			<if test="matchEndTime != null">
				match_end_time,
			</if>
			<if test="endState != null">
				end_state,
			</if>
			<if test="matchRuleText != null">
				match_rule_text,
			</if>
			<if test="matchRewardText != null">
				match_reward_text,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=INTEGER},
			</if>
			<if test="matchName != null">
				#{matchName, jdbcType=VARCHAR},
			</if>
			<if test="matchTitle != null">
				#{matchTitle, jdbcType=VARCHAR},
			</if>
			<if test="signFee != null">
				#{signFee, jdbcType=INTEGER},
			</if>
			<if test="bonusAmount != null">
				#{bonusAmount, jdbcType=INTEGER},
			</if>
			<if test="matchStartTime != null">
				#{matchStartTime, jdbcType=TIMESTAMP},
			</if>
			<if test="matchEndTime != null">
				#{matchEndTime, jdbcType=TIMESTAMP},
			</if>
			<if test="endState != null">
				#{endState, jdbcType=TINYINT},
			</if>
			<if test="matchRuleText != null">
				#{matchRuleText, jdbcType=VARCHAR},
			</if>
			<if test="matchRewardText != null">
				#{matchRewardText, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
</mapper>