<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzgaming.dao.mysql.PrizeNoticeMapper">

	<resultMap id="BaseResultMap" type="com.yzgaming.model.PrizeNotice">
			<id property="id" column="id" jdbcType="INTEGER"/>
			<result property="userId" column="user_id" jdbcType="INTEGER"/>
			<result property="userName" column="user_name" jdbcType="VARCHAR"/>
			<result property="gameGrade" column="game_grade" jdbcType="VARCHAR"/>
			<result property="gameName" column="game_name" jdbcType="VARCHAR"/>
			<result property="gameArea" column="game_area" jdbcType="VARCHAR"/>
			<result property="bonusMoney" column="bonus_money" jdbcType="DECIMAL"/>
			<result property="prizeTime" column="prize_time" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id,user_id,user_name,game_grade,game_name,game_area,bonus_money,prize_time
	</sql>
	
	<select id="getById" parameterType="int" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from
			yz_prize_notice
		where
			id = #{id}
	</select>
	
	<select id="countBy" resultType="int">
		select count(*)
		from yz_prize_notice
		where 1=1
		  <if test="_bean != null and _bean.id != null">
			and id = #{ _bean.id, jdbcType=INTEGER }
		  </if>
		  <if test="_bean != null and _bean.userId != null">
			and user_id = #{ _bean.userId, jdbcType=INTEGER }
		  </if>
		  <if test="_bean != null and _bean.userName != null">
			and user_name = #{ _bean.userName, jdbcType=VARCHAR }
		  </if>
		  <if test="_bean != null and _bean.gameGrade != null">
			and game_grade = #{ _bean.gameGrade, jdbcType=VARCHAR }
		  </if>
		  <if test="_bean != null and _bean.gameName != null">
			and game_name = #{ _bean.gameName, jdbcType=VARCHAR }
		  </if>
		  <if test="_bean != null and _bean.gameArea != null">
			and game_area = #{ _bean.gameArea, jdbcType=VARCHAR }
		  </if>
		  <if test="_bean != null and _bean.bonusMoney != null">
			and bonus_money = #{ _bean.bonusMoney, jdbcType=DECIMAL }
		  </if>
		  <if test="_bean != null and _bean.prizeTime != null">
			and prize_time = #{ _bean.prizeTime, jdbcType=TIMESTAMP }
		  </if>
	</select>
	
	<select id="listPage" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from yz_prize_notice
		where 1=1
			<if test="_bean != null and _bean.id != null">
			  and id = #{ _bean.id, jdbcType=INTEGER }
			</if>
			<if test="_bean != null and _bean.userId != null">
			  and user_id = #{ _bean.userId, jdbcType=INTEGER }
			</if>
			<if test="_bean != null and _bean.userName != null">
			  and user_name = #{ _bean.userName, jdbcType=VARCHAR }
			</if>
			<if test="_bean != null and _bean.gameGrade != null">
			  and game_grade = #{ _bean.gameGrade, jdbcType=VARCHAR }
			</if>
			<if test="_bean != null and _bean.gameName != null">
			  and game_name = #{ _bean.gameName, jdbcType=VARCHAR }
			</if>
			<if test="_bean != null and _bean.gameArea != null">
			  and game_area = #{ _bean.gameArea, jdbcType=VARCHAR }
			</if>
			<if test="_bean != null and _bean.bonusMoney != null">
			  and bonus_money = #{ _bean.bonusMoney, jdbcType=DECIMAL }
			</if>
			<if test="_bean != null and _bean.prizeTime != null">
			  and prize_time = #{ _bean.prizeTime, jdbcType=TIMESTAMP }
			</if>
		<if test="_orderby != null">
			order by ${_orderby} ${_orderdir}
		</if>
		<if test="_start != null and _pageSize != null">
			limit ${_start}, ${_pageSize}
		</if>
	</select>
	
	<update id="update" parameterType="com.yzgaming.model.PrizeNotice">
		update yz_prize_notice
		<set>
			<if test="userId != null">
			  user_id = #{userId, jdbcType=INTEGER },
			</if>
			<if test="userName != null">
			  user_name = #{userName, jdbcType=VARCHAR },
			</if>
			<if test="gameGrade != null">
			  game_grade = #{gameGrade, jdbcType=VARCHAR },
			</if>
			<if test="gameName != null">
			  game_name = #{gameName, jdbcType=VARCHAR },
			</if>
			<if test="gameArea != null">
			  game_area = #{gameArea, jdbcType=VARCHAR },
			</if>
			<if test="bonusMoney != null">
			  bonus_money = #{bonusMoney, jdbcType=DECIMAL },
			</if>
			<if test="prizeTime != null">
			  prize_time = #{prizeTime, jdbcType=TIMESTAMP },
			</if>
		</set>
		where
			id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="int">
		delete from yz_prize_notice 
		where
			id = #{id}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.yzgaming.model.PrizeNotice">
		insert into yz_prize_notice
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="gameGrade != null">
				game_grade,
			</if>
			<if test="gameName != null">
				game_name,
			</if>
			<if test="gameArea != null">
				game_area,
			</if>
			<if test="bonusMoney != null">
				bonus_money,
			</if>
			<if test="prizeTime != null">
				prize_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId, jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName, jdbcType=VARCHAR},
			</if>
			<if test="gameGrade != null">
				#{gameGrade, jdbcType=VARCHAR},
			</if>
			<if test="gameName != null">
				#{gameName, jdbcType=VARCHAR},
			</if>
			<if test="gameArea != null">
				#{gameArea, jdbcType=VARCHAR},
			</if>
			<if test="bonusMoney != null">
				#{bonusMoney, jdbcType=DECIMAL},
			</if>
			<if test="prizeTime != null">
				#{prizeTime, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	
</mapper>