<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzgaming.dao.mysql.RecordJsonMapper">

	<resultMap id="BaseResultMap" type="com.yzgaming.model.RecordJson">
			<id property="id" column="id" jdbcType="INTEGER"/>
			<result property="playersJson" column="players_json" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id,players_json
	</sql>
	
	<select id="getById" parameterType="int" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from
			yz_record_json
		where
			id = #{id}
	</select>
	
	<select id="countBy" resultType="int">
		select count(*)
		from yz_record_json
		where 1=1
		  <if test="_bean != null and _bean.id != null">
			and id = #{ _bean.id, jdbcType=INTEGER }
		  </if>
		  <if test="_bean != null and _bean.playersJson != null">
			and players_json = #{ _bean.playersJson, jdbcType=VARCHAR }
		  </if>
	</select>
	
	<select id="listPage" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from yz_record_json
		where 1=1
			<if test="_bean != null and _bean.id != null">
			  and id = #{ _bean.id, jdbcType=INTEGER }
			</if>
			<if test="_bean != null and _bean.playersJson != null">
			  and players_json = #{ _bean.playersJson, jdbcType=VARCHAR }
			</if>
		<if test="_orderby != null">
			order by ${_orderby} ${_orderdir}
		</if>
		<if test="_start != null and _pageSize != null">
			limit ${_start}, ${_pageSize}
		</if>
	</select>
	
	<update id="update" parameterType="com.yzgaming.model.RecordJson">
		update yz_record_json
		<set>
			<if test="playersJson != null">
			  players_json = #{playersJson, jdbcType=VARCHAR },
			</if>
		</set>
		where
			id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="int">
		delete from yz_record_json 
		where
			id = #{id}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.yzgaming.model.RecordJson">
		insert into yz_record_json
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="playersJson != null">
				players_json,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=INTEGER},
			</if>
			<if test="playersJson != null">
				#{playersJson, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
</mapper>