<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzgaming.dao.mysql.user.UserInfoMapper">

	<resultMap id="BaseResultMap" type="com.yzgaming.model.user.UserInfo">
			<id property="id" column="id" jdbcType="BIGINT"/>
			<result property="userName" column="user_name" jdbcType="VARCHAR"/>
			<result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
			<result property="userMobile" column="user_mobile" jdbcType="VARCHAR"/>
			<result property="userComing" column="user_coming" jdbcType="TINYINT"/>
			<result property="joinTime" column="join_time" jdbcType="TIMESTAMP"/>
			<result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
			<result property="lastLoginIp" column="last_login_ip" jdbcType="VARCHAR"/>
			<result property="lastLoginType" column="last_login_type" jdbcType="TINYINT"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id,user_name,user_password,user_mobile,user_coming,join_time,last_login_time,last_login_ip,last_login_type
	</sql>
	
	<select id="getById" parameterType="int" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from
			yz_user_info
		where
			id = #{id}
	</select>
	
	<select id="countBy" resultType="int">
		select count(*)
		from yz_user_info
		where 1=1
		  <if test="_bean != null and _bean.id != null">
			and id = #{ _bean.id, jdbcType=BIGINT }
		  </if>
		  <if test="_bean != null and _bean.userName != null">
			and user_name = #{ _bean.userName, jdbcType=VARCHAR }
		  </if>
		  <if test="_bean != null and _bean.userPassword != null">
			and user_password = #{ _bean.userPassword, jdbcType=VARCHAR }
		  </if>
		  <if test="_bean != null and _bean.userMobile != null">
			and user_mobile = #{ _bean.userMobile, jdbcType=VARCHAR }
		  </if>
		  <if test="_bean != null and _bean.userComing != null">
			and user_coming = #{ _bean.userComing, jdbcType=TINYINT }
		  </if>
		  <if test="_bean != null and _bean.joinTime != null">
			and join_time = #{ _bean.joinTime, jdbcType=TIMESTAMP }
		  </if>
		  <if test="_bean != null and _bean.lastLoginTime != null">
			and last_login_time = #{ _bean.lastLoginTime, jdbcType=TIMESTAMP }
		  </if>
		  <if test="_bean != null and _bean.lastLoginIp != null">
			and last_login_ip = #{ _bean.lastLoginIp, jdbcType=VARCHAR }
		  </if>
		  <if test="_bean != null and _bean.lastLoginType != null">
			and last_login_type = #{ _bean.lastLoginType, jdbcType=TINYINT }
		  </if>
	</select>
	
	<select id="listPage" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from yz_user_info
		where 1=1
			<if test="_bean != null and _bean.id != null">
			  and id = #{ _bean.id, jdbcType=BIGINT }
			</if>
			<if test="_bean != null and _bean.userName != null">
			  and user_name = #{ _bean.userName, jdbcType=VARCHAR }
			</if>
			<if test="_bean != null and _bean.userPassword != null">
			  and user_password = #{ _bean.userPassword, jdbcType=VARCHAR }
			</if>
			<if test="_bean != null and _bean.userMobile != null">
			  and user_mobile = #{ _bean.userMobile, jdbcType=VARCHAR }
			</if>
			<if test="_bean != null and _bean.userComing != null">
			  and user_coming = #{ _bean.userComing, jdbcType=TINYINT }
			</if>
			<if test="_bean != null and _bean.joinTime != null">
			  and join_time = #{ _bean.joinTime, jdbcType=TIMESTAMP }
			</if>
			<if test="_bean != null and _bean.lastLoginTime != null">
			  and last_login_time = #{ _bean.lastLoginTime, jdbcType=TIMESTAMP }
			</if>
			<if test="_bean != null and _bean.lastLoginIp != null">
			  and last_login_ip = #{ _bean.lastLoginIp, jdbcType=VARCHAR }
			</if>
			<if test="_bean != null and _bean.lastLoginType != null">
			  and last_login_type = #{ _bean.lastLoginType, jdbcType=TINYINT }
			</if>
		<if test="_orderby != null">
			order by ${_orderby} ${_orderdir}
		</if>
		<if test="_start != null and _pageSize != null">
			limit ${_start}, ${_pageSize}
		</if>
	</select>
	
	<update id="update" parameterType="com.yzgaming.model.user.UserInfo">
		update yz_user_info
		<set>
			<if test="userName != null">
			  user_name = #{userName, jdbcType=VARCHAR },
			</if>
			<if test="userPassword != null">
			  user_password = #{userPassword, jdbcType=VARCHAR },
			</if>
			<if test="userMobile != null">
			  user_mobile = #{userMobile, jdbcType=VARCHAR },
			</if>
			<if test="userComing != null">
			  user_coming = #{userComing, jdbcType=TINYINT },
			</if>
			<if test="joinTime != null">
			  join_time = #{joinTime, jdbcType=TIMESTAMP },
			</if>
			<if test="lastLoginTime != null">
			  last_login_time = #{lastLoginTime, jdbcType=TIMESTAMP },
			</if>
			<if test="lastLoginIp != null">
			  last_login_ip = #{lastLoginIp, jdbcType=VARCHAR },
			</if>
			<if test="lastLoginType != null">
			  last_login_type = #{lastLoginType, jdbcType=TINYINT },
			</if>
		</set>
		where
			id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="int">
		delete from yz_user_info 
		where
			id = #{id}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.yzgaming.model.user.UserInfo">
		insert into yz_user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="userPassword != null">
				user_password,
			</if>
			<if test="userMobile != null">
				user_mobile,
			</if>
			<if test="userComing != null">
				user_coming,
			</if>
			<if test="joinTime != null">
				join_time,
			</if>
			<if test="lastLoginTime != null">
				last_login_time,
			</if>
			<if test="lastLoginIp != null">
				last_login_ip,
			</if>
			<if test="lastLoginType != null">
				last_login_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=BIGINT},
			</if>
			<if test="userName != null">
				#{userName, jdbcType=VARCHAR},
			</if>
			<if test="userPassword != null">
				#{userPassword, jdbcType=VARCHAR},
			</if>
			<if test="userMobile != null">
				#{userMobile, jdbcType=VARCHAR},
			</if>
			<if test="userComing != null">
				#{userComing, jdbcType=TINYINT},
			</if>
			<if test="joinTime != null">
				#{joinTime, jdbcType=TIMESTAMP},
			</if>
			<if test="lastLoginTime != null">
				#{lastLoginTime, jdbcType=TIMESTAMP},
			</if>
			<if test="lastLoginIp != null">
				#{lastLoginIp, jdbcType=VARCHAR},
			</if>
			<if test="lastLoginType != null">
				#{lastLoginType, jdbcType=TINYINT},
			</if>
		</trim>
	</insert>

	<select id="getByPassWord" parameterType="String" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />  FROM yz_user_info  WHERE user_mobile=#{mobile}
	</select>
</mapper>